[Unit]
Description=oss-mondobackup inc backup
ConditionACPower=true

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/oss-mondobackup
ExecStart=/sbin/rcoss-mondobackup -i
